html,body { height:100%; }

#map {
  /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
  height: 55vh;
  margin: 20px;
  box-shadow: 0px 4px 12px 0px #000;
  height: 40%;
}

#file {
  margin-bottom: 10px;
}

.leaflet-popup-content{
  margin: 16px;
  white-space: pre;
}

.header{
  padding: 5vh;
  background-color: #dd2e44;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size: 6vh;
  color: white;
  font-family: Roboto;
}

/*input{
  font-size: 3vh;
  color: white;
  font-family: Roboto;
  border-radius: 3px;
  border: none;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  background-color: #dd2e44;
  outline: 0;
  box-shadow: 0px 2px 4px 0px #000;
}*/

/*::placeholder {
  color: white;
}
*/

button{
  font-size: 3vh;
  color: white;
  font-family: Roboto;
  margin-left: 10px;
  border-radius: 3px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  background-color: #dd2e44;
  outline: 0;
  box-shadow: 0px 2px 4px 0px #000;
}

.hidden{
  display: none;
}

/* form starting stylings ------------------------------- */
.group 			  {
  margin-top: 2vh;
  margin-bottom: 2vh;
  position:relative;
}
input 				{
  background: transparent;
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
  font-family: Roboto;
  color: white;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  font-size: 3vh;
  color: #c9c9c9;
  font-family: Roboto;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#c9c9c9;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#dd2e44;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

button:active {
  box-shadow: 0px 2px 6px 0px #000;
}
[ripple] {
  position: relative;
  overflow: hidden;
}
[ripple] .ripple--container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
[ripple] .ripple--container span {
  transform: scale(0);
  border-radius: 100%;
  position: absolute;
  opacity: 0.75;
  background-color: #fff;
  animation: ripple 1000ms;
}
@-moz-keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
  }
}
@-webkit-keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
  }
}
@-o-keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
  }
}
@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
  }
}

body{
  margin: 0px;
  background-color: #5c913b;
}
